.feature__list {
  display: flex;

}

.feature {
  display: flex;
  align-items: center;
} 

.feature__item {
  margin-right: rem(9px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(40px);
  margin-right: rem(11px);
}

.feature__text {
  max-width: rem(114px);
}