.form{
  display: flex;
}

.form__col{
  flex: 1;
  margin-right: 28px;

  &:last-child{
    margin-right: 0;
  }
}

.form__row{
  display: flex;
  margin-bottom: 16px;
}

.form__block {
  flex: 1;
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}
.form__title{
  margin-bottom: 6px;
}

.form__input{
  width: 100%;
  border-radius: 3px;
  padding: 19px 12px;
  border: 3px solid transparent;

  &--textarea{
    height: 153px;
    resize: none;
    padding-bottom: 15px;
    }

  &:focus{
    border-color: #E01F3D;
    outline: none;
  }

}

.form__controls{
  display: flex;
  flex-wrap: wrap;
  margin-top: 42px;
  margin-bottom: 8px;

  &--radio{
    margin-top: 0;
    margin-bottom: 30px;
  }
}