.header {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 915px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  font-family: 'Alegreya Sans', sans-serif;
  margin-right: 27px;

  &:last-child {
    margin-right: 0;
  }
}

.phone-number:before {
  content:'';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background: url('./../img/phone.png') ;
}