.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline__title{
  margin-bottom: rem(18px);
}

.headline__subtitle{
  align-self: center;
  text-align: center;
  width: 60%;
  margin-bottom: rem(62px);

  @include phones{
    width: 81%;
  }
}