.interactive-avatar {
  height: rem(74px);
  width: rem(74px);
  border-radius: 50%;
  border: rem(4px) solid transparent;
  overflow: hidden;
  position: relative;

  &--active {
    border-color: #E01F3D;
  }
}

.interactive-avatar__link{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img{
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}