.order-section{
  background-color: #181818;
  height: 100vh;
  min-height: rem(650px);
  color: #fff;
  position: relative;
  
    &:before{
    position: absolute;
    top: rem(-25px);
    right: 18%;
    content: url('./../img/red-pentagon.png');
  }
}
