.phone{
  padding-top: rem(10px);
  display: flex;
  flex-wrap: nowrap;

  @include tablets {
    display: none;
  }
}

.phone-number{
  white-space: nowrap;
}

.phone-icon {
  fill:#292929;
  display: inline-block;
  width: rem(16px);
  height: rem(16px);
  margin-right: rem(6px);
}