.phone{
  padding-top: 10px;
}

.phone-number{
  white-space: nowrap;
}

.phone-icon {
  fill:#292929;
  display: inline-block;
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}