.review-section {
  position: relative;

  &:before{
    position: absolute;
    bottom: rem(-21px);
    left: 17%;
    content: url('./../img/gray-circle.png');
  }

}


.review__fullview {
  background-color: #F8FAF9;
  padding-left: rem(38px);
  padding-right: rem(105px);
  padding-top: rem(41px);
  padding-bottom: rem(42px);
  margin-bottom: rem(15px);
  overflow: hidden;
  position: relative;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-61px);
    width: rem(83px);
    height: rem(83px);
    border-radius: 50%;
    background-color: #fff;
  }

  @include tablets {
    padding:  rem(56px) rem(23px) rem(10px) rem(23px);
  }
}

.review__fullview-inner {
  display: flex;

  @include tablets{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.review__avatar{
  width: rem(253px);
  height: rem(264px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
  }
}

.review__avatar-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.review__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: rem(40px);

  @include tablets {
    margin-left:  rem(0px);
  }

}

.review__title {
  font-size: rem(24px);
  font-weight: 700;
  margin-top: rem(5px);
  margin-bottom: rem(27px);
  color: #292929;
  
}

.review__text{
  line-height: rem(18.51px);
  margin-bottom: rem(42px);
}

.review_author {
  font-size: rem(18px);
  font-weight: 700;
  color: #292929;
}

.review__switch-list {
  display: flex;
  justify-content: center;
}

.review__switch-item {
  margin-right: rem(6px);

  &:last-child{
    margin-right: 0;
  }
}

